<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Birdlife YouTube Livestream Report - YouTube API Error</title>
    <style>
      .error-text {
        color: #ff0000;
      }
    </style>
  </head>
  <body>
    <article>
      <header>
        <h1>Birdlife YouTube Livestream Report</h1>
      </header>
      <p class="error-text">
        Dear all,<br />
        Please note that there was an error while checking the livestream status
        from the YouTube API. Please check the logs for more details.
      </p>
    </article>
  </body>
</html>
